<h1>Create a new landmark!</h1>
<form action="/landmarks" method="POST">
  <label>Name:</label>
  <input type="text" name="landmark[name]" id="landmark_name" >
  <label>Year Completed:</label>
  <input type="integer" name="landmark[year_completed]" id="landmark_year_completed" >


  <br></br>
  <label>Choose from existing figures:</label><br></br>
  <% Figure.all.each do |figure| %>
    <input type="radio" name="landmark[figure_id]" id="figure_<%= figure.id%>"
        value ="<%= figure.id%>" >
        <%=figure.name%>
      <br></br>
    </input>
  <% end %>
  <br></br>
  <label>Create a new figure:</label>
  <br></br>
  <label>Name:</label>
  <input type="text" name="figure[name]"> </input>
  <br></br>

  <input type="submit" value="Create New Landmark"> </input>

</form>
